@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
.head{

    height:100vh;
    position: sticky;
    top: 0px;
    min-width: 300px;
    width: 800px;
    color: white;
    background-image: url('https://images.unsplash.com/photo-1547003016-624b51c053c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    font-family: 'Signika Negative', sans-serif;

}

.alg{
 color: white;
 margin-top: 40px;
 display: flex;
 align-items:center;
 justify-content: center;
}
.algs{
    color: white;
    margin-top: 70px;
    display: flex;
    align-items:center;
    justify-content: center;
  }
.sidebar{
    margin-top: 120px;
    text-align: center;
    
}
.alls{
   padding-top: 10px;
   color: white;
    
}
.alls:hover{
    color: white;
    
    text-decoration: none;
}
